In [1]:
import pandas as pd

In [3]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [4]:
train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y_bool
0,51,admin.,married,tertiary,no,148,no,no,cellular,15,apr,263,2,-1,0,unknown,0
1,55,blue-collar,married,secondary,no,7160,yes,no,unknown,4,may,315,1,-1,0,unknown,0
2,65,blue-collar,divorced,tertiary,no,2197,yes,no,cellular,12,may,102,2,-1,0,unknown,0
3,25,admin.,married,secondary,no,6658,yes,no,cellular,16,feb,197,1,-1,0,unknown,1
4,36,services,married,secondary,no,1761,yes,no,cellular,19,sep,177,1,-1,0,success,0

In [5]:
test.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,36,technician,divorced,secondary,no,1842,yes,yes,cellular,5,aug,149,1,-1,0,unknown
1,26,management,married,primary,no,165,no,no,cellular,7,nov,44,2,-1,0,unknown
2,50,management,married,unknown,no,5006,yes,no,cellular,7,may,664,2,-1,0,other
3,56,management,married,secondary,no,5122,no,no,cellular,9,aug,53,2,-1,0,unknown
4,26,blue-collar,married,tertiary,no,151,no,no,unknown,1,jul,67,5,130,0,unknown

In [7]:
train.shape,test.shape

((21000, 17), (9000, 16))

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        21000 non-null  int64
 1   job        21000 non-null  int32
 2   marital    21000 non-null  int32
 3   education  21000 non-null  int32
 4   default    21000 non-null  int32
 5   balance    21000 non-null  int64
 6   housing    21000 non-null  int32
 7   loan       21000 non-null  int32
 8   day        21000 non-null  int64
 9   month      21000 non-null  int32
 10  duration   21000 non-null  int64
 11  campaign   21000 non-null  int64
 12  pdays      21000 non-null  int64
 13  previous   21000 non-null  int64
 14  poutcome   21000 non-null  int32
 15  y_bool     21000 non-null  int64
dtypes: int32(8), int64(8)
memory usage: 1.9 MB

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        9000 non-null   int64
 1   job        9000 non-null   int32
 2   marital    9000 non-null   int32
 3   education  9000 non-null   int32
 4   default    9000 non-null   int32
 5   balance    9000 non-null   int64
 6   housing    9000 non-null   int32
 7   loan       9000 non-null   int32
 8   day        9000 non-null   int64
 9   month      9000 non-null   int32
 10  duration   9000 non-null   int64
 11  campaign   9000 non-null   int64
 12  pdays      9000 non-null   int64
 13  previous   9000 non-null   int64
 14  poutcome   9000 non-null   int32
dtypes: int32(8), int64(7)
memory usage: 773.6 KB

In [30]:
label.fit(train['housing'])
train['housing']=label.transform(train['housing'])
test['housing']=label.transform(test['housing'])


label.fit(train['default'])
train['default']=label.transform(train['default'])
test['default']=label.transform(test['default'])



label.fit(train['education'])
train['education']=label.transform(train['education'])
test['education']=label.transform(test['education'])





label.fit(train['marital'])
train['marital']=label.transform(train['marital'])
test['marital']=label.transform(test['marital'])

label.fit(train['job'])
train['job']=label.transform(train['job'])
test['job']=label.transform(test['job'])

label.fit(train['poutcome'])
train['poutcome']=label.transform(train['poutcome'])
test['poutcome']=label.transform(test['poutcome'])

In [28]:
train=train.drop(['contact'],axis=1)
test=test.drop(['contact'],axis=1)

In [16]:
train['month'].unique()

array([ 0,  8,  3, 11,  6,  9,  5,  7, 10,  1,  4,  2])

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
label=LabelEncoder()
label.fit(train['month'])
train['month']=label.transform(train['month'])
test['month']=label.transform(test['month'])

In [11]:
train.corr()

C:\Users\pavan\AppData\Local\Temp\ipykernel_8348\2189804198.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr()

,age,balance,day,duration,campaign,pdays,previous,y_bool
age,1.000000,0.015965,-0.006556,-0.009021,-0.006598,-0.008792,0.005240,-0.049756
balance,0.015965,1.000000,-0.005340,0.013659,-0.005630,0.001415,0.007026,-0.010710
day,-0.006556,-0.005340,1.000000,-0.005040,-0.000936,-0.006842,0.006429,-0.008672
duration,-0.009021,0.013659,-0.005040,1.000000,-0.011041,0.013284,-0.007521,-0.011986
campaign,-0.006598,-0.005630,-0.000936,-0.011041,1.000000,0.002723,0.000054,0.017401
pdays,-0.008792,0.001415,-0.006842,0.013284,0.002723,1.000000,0.003242,-0.009127
previous,0.005240,0.007026,0.006429,-0.007521,0.000054,0.003242,1.000000,-0.006039
y_bool,-0.049756,-0.010710,-0.008672,-0.011986,0.017401,-0.009127,-0.006039,1.000000

In [19]:
sub=pd.read_csv("submission.csv")

In [20]:
sub.head()

   y_bool
0       0
1       0
2       0
3       0
4       0

In [22]:
label.fit(train['loan'])
train['loan']=label.transform(train['loan'])
test['loan']=label.transform(test['loan'])

In [36]:
y=train['y_bool']
x=train.drop(['y_bool'],axis=1)

In [38]:
x.shape,y.shape

((21000, 15), (21000,))

In [33]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
import xgboost as xgb

In [41]:
boost=xgb.XGBClassifier(n_esstimators=100,random_state=42,learing_rate=0.01,n_jobs=50,max_depth=5)

In [60]:
boost.fit(x_train,y_train)

[18:35:40] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-08de971ced8a8cdc6-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "learing_rate", "n_esstimators" } are not used.

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learing_rate=0.01,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=5,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_esstimators=100, n_estimators=100,
              n_jobs=50, num_parallel_tree=None, ...)

In [64]:
y=boost.predict(test)

In [66]:
y=pd.DataFrame(y)

In [67]:
y.to_csv('submission.csv')

In [54]:
from sklearn.naive_bayes import GaussianNB

In [49]:
clf=GaussianNB()

In [50]:
clf.fit(x_train,y_train)

GaussianNB()

In [55]:
from sklearn.preprocessing import StandardScaler

In [59]:
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

C:\Users\pavan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(